/*

Modificated from Quietfox for Firefox 76

https://github.com/coekuss/quietfox

Thanks for using my file

 */

* { 
/* -------------------- 🎨 Customization 🎨 -------------------- */
    --tab-corner-rounding: 5px;
    --button-corner-rounding: 4px;
    --menu-corner-rounding: 5px;
    --menu-item-height: 30px;
    --animation-speed: 0.15s;
}




menupopup:not(#BMB_bookmarksPopup) {
    padding: 6px 9px 9px !important;
	margin: -6px -9px 0 !important;
    border: 0 !important;
    background: 0 !important;
}

.menupopup-arrowscrollbox {
    background: Menu !important; /* fall back if adaptable colors are removed */
}


/* shadows and rounded corners for menus */
.menupopup-arrowscrollbox:not(.in-bookmarks-menu) {
    border-radius: var(--menu-corner-rounding) !important;
    box-shadow: 0px 2px 9px -3px black !important;
}



/*** Proton Tabs Tweaks ***/

/* Adjust tab corner shape, optionally remove space below tabs */


.titlebar-spacer[type="pre-tabs"] {
  margin-left: -2px !important;
  max-width: 0px !important;
}

.titlebar-spacer[type="post-tabs"] {
  max-width: 30px !important;
}

#tabbrowser-tabs {
    --user-tab-rounding: 8px;
    margin-top: -1px;
}

.tabbrowser-tab[selected] .tab-content {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
    margin-block: 1px 0 !important;
    box-shadow: 0px 2px 2px 0px rgba(150,150,150,0.8) inset;
}

.tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
    margin-block: 1px 0 !important;
}
#scrollbutton-up, #scrollbutton-down { /* 6/10/2021 */
    border-top-width: 1px !important;
    border-bottom-width: 0 !important;
}
/* Container color bar visibility */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
    margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
}

/* Override Normal Density height to Compact Density height only for tabs */

#tabbrowser-tabs {
    --tab-min-height: 28px !important;
}
#scrollbutton-up,
#scrollbutton-down {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
}


    /* [Connected Tabs] Adjust padding around icons on buttons to avoid crushed images */
#TabsToolbar-customization-target toolbarbutton > .toolbarbutton-icon, 
#TabsToolbar-customization-target .toolbarbutton-text, 
#TabsToolbar-customization-target .toolbarbutton-badge-stack,
#scrollbutton-up,#scrollbutton-down {
    padding-top: 7px !important;
    padding-bottom: 6px !important;
}

/* Tweak Options as of 7/10/2021; Generated Sat Jul 17 2021 04:19:42 GMT-0300 (Horário Padrão de Brasília) */


